<div class="row">
    <div class="col-sm-3 panelHeight" ng-repeat="detail in details">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{detail.name}}</h4>
            </div>
            <div class="panel-body">
                <img class="img-responsive" ng-src="{{detail.photos[0].getUrl({'maxWidth': 768, 'maxHeight': 576})}}">

                <ul>
                    <li>{{detail.formatted_phone_number}}</li>
                    <li>{{detail.vicinity}}</li>
                </ul>

                <div class="poweredBy">
                    <img class="img-responsive" src="img/google.jpg">
                </div>

            </div>
        </div>
    </div>
</div>

