.poweredBy {
  float: right;
  width: 45%;
}
.demo {
  font-size: 22px;
  font-weight: bold;
}
#pagination {
  text-align: center;
}
.menu-title {
  font-weight: bold;
  text-align: center;
}
.map-bg {
  background: url("../img/worldMap.jpg") no-repeat;
  padding: .75em;
}
.page-header {
  font-size: 3em;
  text-align: center;
}
.code-tabs {
  margin-bottom: 25px;
}
.container {
  width: 90% !important;
}