.poweredBy {
  float: right;
  width: 45%;
}
.demo {
  font-size: 22px;
  font-weight: bold;
}
#pagination {
  text-align: center;
}
.menu-title {
  font-weight: bold;
  text-align: center;
}
.map-bg {
  background: url("../img/largeMap.jpg");
  min-height: 100vh;
}
.site-bg {
  background-color: #1d1d1d;
}
.pageHeader {
  font-size: 3em;
  text-align: center;
  border-bottom: 1px solid;
}
.code-tabs {
  margin-bottom: 25px;
}
.container {
  width: 90% !important;
}
.required {
  display: inline-block;
  background-color: #d8ecf6;
  color: #317097;
  padding: 2px;
  font-size: .75em;
}
.well {
  background-color: rgba(63,63,63,0.75);;
}
.features-list {
  font-size: 1.25em;
}
.config-list {

  li {
    margin-bottom: 1.5em;
  }

  pre {
    margin-top: 1em;
  }
}
.bordered {
  border: 1px solid;
}
.travel-mode {
  @include clearfix();
  padding: .25em;
  border: 1px solid #1B998B;
  margin-bottom: .5em;
}
.directions-demo {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #1B998B;

  .input-group {
    width: 50%;

    input {
      float: right;
      width: 75%;
    }
  }

  h5 {
    margin-bottom: 0;
  }
}