/* Bootstrap Mods */
.panelHeight {
    height: 600px;
}
.panel-body {
    padding-bottom: 0;
}
.navbar {
    margin-bottom: 0;
}
.poweredBy {
    float: right;
    width: 45%;
}

/* Custom CSS */
.demo {
    font-size: 22px;
    font-weight: bold;
}
#pagination {
    text-align: center;
}
.menu-title {
    font-weight: bold;
    text-align: center;
}
.map-bg { 
    background: url("../img/worldMap.jpg") no-repeat;
}

/* Map Styles */
.map-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
#map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

/* Sub menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown .dropdown-submenu > .dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}