<i ng-if="inMenu" role="button" class="fa fa-arrow-left fa-2x" style="color: white;" ng-click="goBack()"></i>

<div class="directControls">
    <div class="directBtnBar">
        <button class="searchType" ng-click="direct.route.travelMode = 'WALKING'"><i class="fa fa-blind" ></i></button>
        <button class="searchType" ng-click="direct.route.travelMode = 'DRIVING'"><i class="fa fa-car"></i></button>
        <button class="searchType" ng-click="direct.route.travelMode = 'BICYCLING'"><i class="fa fa-bicycle"></i></button>
        <button class="searchType" ng-click="direct.route.travelMode = 'TRANSIT'"><i class="fa fa-bus"></i></button>
    </div>

    <div class="directSearch">
        <input id="from" agg-auto-complete="direct.request.origin" type="text" name="from" placeholder="Choose a starting point">
        <input id="destination" agg-auto-complete="direct.request.destination" type="text" name="to" placeholder="Destination">
    </div>
</div>

<div class="directResults" ng-if="direct.showDirect">
    <div class="overview">
        <div class="duration">
            {{direct.duration}}
        </div>
        <div class="distance">
            {{direct.distance}}
        </div>
        <div class="via">
           via {{direct.via}}
        </div>
    </div>
    <hr>
    <div class="route">
        <div class="start">
            {{direct.startLoc}}
        </div>
        <div class="steps">
            <div class="step" ng-repeat="step in direct.steps">
                <div class="instruction">
                    <p ng-bind-html="step.instructions"></p>
                </div>
                <div class="duration">
                    {{step.duration.text}}
                </div>
                <div class="distance">
                    {{step.distance.text}}
                </div>
            </div>
        </div>
        <div class="end">
            {{direct.endLoc}}
        </div>
    </div>
</div>