<div class="genSearch">
    <i role="button" class="fa fa-arrow-left fa-4x" style="color: white;" ng-click="aggMenu.view = 'default'"></i>
    <input id="menuSearchInput" type="text" placeholder="Search for something close by.">
</div>

<div class="searchResults">

    <ul class="resultsList">
        <li class="aggResult" ng-repeat="result in search.results track by $index" ng-click="search.openMarker($index)" role="button">

            <img ng-src="{{result.photos[0].getUrl({'maxWidth': 120, 'maxHeight': 240})}}">
            <ul>
                <li>{{result.name}}</li>
                <li>
                    <span class="stars">
                        <span ng-style="{'width':search.getStars(result.rating)}"></span>
                    </span>
                </li>
                <li class="openNow">{{search.isOpen(result.opening_hours.open_now)}}</li>
            </ul>

        </li>
    </ul>

</div>



