<div class="genSearch">
    <input id="aggSearch" agg-search="search.searchBox" type="text" placeholder="Search for something close by.">
    <div scale-div id="directionIcon" class="directIcon" ng-click="aggMenu.goDirections()"></div>
    <i role="button" class="fa fa-times fa-3x aggClear search" ng-click="search.clearMap()"></i>
</div>

<div class="searchResults aggEnterDown" ng-if="search.searchBox.model.length > 0" ng-style="search.resultsPadding">
    <div ng-switch="search.resultLength()">
        <div ng-switch-when="1">
            <div class="resultHeader">
                <img ng-src="{{search.searchBox.model[0].photos[0].getUrl({'maxWidth': 500, 'maxHeight': 250})}}" width="100%" height="auto">
                <div class="title">{{search.searchBox.model[0].name}}</div>
                <div><span class="ratingNum">{{search.searchBox.model[0].rating}}</span><agg-star-rating rating="{{search.searchBox.model[0].rating}}"></agg-star-rating></div>
            </div>
        </div>

        <div ng-switch-default>
            <ul class="resultsList">
                <li class="aggResult" ng-repeat-start="result in search.searchBox.model track by $index" ng-click="search.openMarker($index)" role="button">

                    <ul>
                        <li>{{result.name}}</li>
                        <li>
                            <agg-star-rating rating="{{result.rating}}"></agg-star-rating>
                        </li>
                        <li>{{search.addressText(result.formatted_address)}}</li>
                        <li class="openNow">{{search.openText(result.opening_hours.open_now)}}</li>
                    </ul>
                    <img scale-img ng-src="{{result.photos[0].getUrl({'maxWidth': 250, 'maxHeight': 250})}}">
                </li>
                <li ng-repeat-end><hr></li>
            </ul>
        </div>
    </div>

</div>



