<div class="container">
    <h1 class="page-header">Documentation</h1>
    <div class="row">
        <div class="side-nav col-xs-12 col-sm-3">
            <div class="well">
                <ul class="docs-nav">
                    <li class="nav-header">Map</li>
                    <li class="nav-sub-header">Directives</li>
                    <li class="nav-item"><a ui-sref=".aggMap">agg-map</a></li>
                    <li class="nav-sub-header">Services</li>
                    <li class="nav-item"><a ui-sref=".aggMapServ">aggMapServ</a></li>

                    <li><hr></li>

                    <li class="nav-header">Search</li>
                    <li class="nav-sub-header">Directives</li>
                    <li class="nav-sub-header">Services</li>

                    <li><hr></li>

                    <li class="nav-header">Location</li>
                    <li class="nav-sub-header">Directives</li>
                    <li class="nav-sub-header">Services</li>

                    <li><hr></li>

                    <li class="nav-header">Directions</li>
                    <li class="nav-sub-header">Directives</li>
                    <li class="nav-sub-header">Services</li>

                    <li><hr></li>

                    <li class="nav-header">Places</li>
                    <li class="nav-sub-header">Directives</li>
                    <li class="nav-sub-header">Services</li>

                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9" ui-view="docs"></div>
    </div>
</div>