<div class="site-bg">
    <div class="jumbotron">
        <div class="container">
            <h1>Documentation</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="well">
                    <ul class="docs-nav">
                        <li class="nav-header">Map</li>
                        <li class="nav-sub-header">Directives</li>
                        <li class="nav-item"><a ui-sref=".aggMap">agg-map</a></li>
                        <li class="nav-item"><a ui-sref=".aggMenu">agg-menu</a></li>
                        <li class="nav-sub-header">Services</li>
                        <li class="nav-item"><a ui-sref=".aggMapServ">aggMapServ</a></li>

                        <li><hr></li>

                        <li class="nav-header">Search</li>
                        <li class="nav-sub-header">Directives</li>
                        <li class="nav-item"><a ui-sref=".aggAutoComplete">agg-auto-complete</a></li>
                        <li class="nav-item"><a ui-sref=".aggSearch">agg-search</a></li>
                        <li class="nav-sub-header">Services</li>
                        <li class="nav-item"><a ui-sref=".aggSearchFact">aggSearchFact</a></li>

                        <li><hr></li>

                        <li class="nav-header">Location</li>
                        <li class="nav-sub-header">Directives</li>
                        <li class="nav-item"><a ui-sref=".aggLocation">agg-location</a></li>
                        <li class="nav-sub-header">Services</li>
                        <li class="nav-item"><a ui-sref=".aggLocationServ">aggLocationServ</a></li>
                        <li class="nav-item"><a ui-sref=".aggLocationMarker">AggLocationMarker</a></li>

                        <li><hr></li>

                        <li class="nav-header">Directions</li>
                        <li class="nav-sub-header">Directives</li>

                        <li class="nav-sub-header">Services</li>

                        <li><hr></li>

                        <li class="nav-header">Places</li>
                        <li class="nav-sub-header">Directives</li>
                        <li class="nav-sub-header">Services</li>

                        <li><hr></li>

                        <li class="nav-header">Utils</li>
                        <li class="nav-sub-header">Providers</li>
                        <li class="nav-item"><a ui-sref=".aggLoader">$aggLoader</a></li>
                        <li class="nav-sub-header">Directives</li>

                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9" ui-view="docs"></div>
        </div>
    </div>
</div>