<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Lookup A Single Location</h1>
            <hr>
            <p class="lead">The gPlace directive allows for requesting place details for a single place and displaying the information in a custom template. The directive requires 2 attributes, <code>temp-url="path/to/template"</code> and <code>place-id="name of variable with place ID"</code></p>
            <a class="demo" href="https://plnkr.co/edit/3R1aKw?p=preview" target="_blank">Edit in Plunker</a>
        </div>
    </div>
    <hr>

    <g-place temp-url="views/partials/singleTemp.html" place-id="places.id"></g-place>
</div>
