<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Lookup Multiple Locations</h1>
            <hr>
            <p class="lead">In this example we take an array of 24 place id's, lookup the details for each, then display the results. Google only allows 10 requests at a time so the ids are split into groups of 10 creating pagination. The pagination is built in and will show the buttons at the bottom should there be more than 10 places to lookup.</p>
            <a class="demo" href="https://plnkr.co/edit/OpnL6WaPdxZIJyWILA7R?p=preview" target="_blank">Edit in Plunker</a>
        </div>
    </div>
    <hr>

    <agg-places temp-url="views/partials/multiTemp.html" model="places.idModel"></agg-places>

</div>


