<div class="map-bg">
    <div class="container">

        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1>angular-gmap-gplaces</h1>
                    <p>Modules for integrating google maps, places, and directions libraries into an angular application</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="https://github.com/GJordan904/angular-gmap-gplaces">Code on Github</a></p>
                </div>
            </div>
        </div>

        <div class="row">
           <div class="col-xs-12 col-sm-6">
               <h2>About</h2>
               <p>angular-gmap-gplaces is a set of modules, written in Javascript, that facilitates easy integration of the Google Maps, Places, and Directions libraries into an angular application.</p>
               <p>I started working on these modules as a way to learn JS, and Angular, and to become more familiar with some Google API's. I am sharing them now in hopes that they may be of use to others and hopefully I can get some feedback on my work</p>
           </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2></h2>
        </div>
    </div>
</div>
