<div class="container">
    <h1 class="page-header">Samples</h1>
    <div class="row">
        <div class="side-nav col-xs-12 col-sm-2">
            <div class="well">
                <ul class="docs-nav">
                    <li class="nav-header">Map</li>
                    <li class="nav-item"><a ui-sref=".bMap">Basic Map</a></li>
                    <li class="nav-item"><a ui-sref=".mMap">Menu</a></li>
                    <li class="nav-item"><a ui-sref=".lMap">Location Marker</a></li>

                    <li><hr></li>

                    <li class="nav-header">Search</li>

                    <li><hr></li>

                    <li class="nav-header">Places</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" ui-view="samples"></div>
    </div>
</div>