/**************************
Menu Animations
**************************/
@keyframes aggSlideInLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes aggSlideOutRight {
  from {
    transform: translateX(100%);

  }
  to {
    transform: translateX(0);
  }
}
.animateMenu {
  transform: translateX(-105%);
}
.animateDirections {
  transform: translateX(-100%);
}
.animateBtn {
  transform: translateX(-1135%);

  &.menuBtnLg {
    transform: translateX(-710%)
  }
}
.animateBtnDirect {
  transform: translateX(-1071%);

  &.menuBtnLg {
    transform: translateX(-930%);
  }
}
.slide.ng-leave {
  animation: aggSlideInLeft .5s ease-in;
}
.slide.ng-enter {
  animation: aggSlideOutRight .5s ease-in;
}
.slide.ng-enter-active {
  transform: translateX(100%);
}
.slide.ng-leave-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/**********************************
Direction Icon Animation
**********************************/
@keyframes aggSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.aggSpin {
  animation: aggSpin .25s infinite;
}