// Star Rating
.aggStars, .aggStars span {
  display: inline-block;
  background: url(../img/stars.png) 0 -25px repeat-x;
  width: 100px;
  height: 21px;
}

.aggStars span {
  background-position: 0 0;
}