<h2>Map with Location Marker</h2>
<agg-map options="samples.lMap">
    <agg-location></agg-location>
</agg-map>

<h3>Code</h3>
<div class="code-tabs">
    <tabs>
        <pane title="HTML">
            <div class="well">
                <pre class="prettyprint">
&lt;agg-map options="samples.lMap"&gt;
    &lt;agg-location&gt;&lt;/agg-location&gt;
&lt;/agg-map&gt;
                </pre>
            </div>
        </pane>

        <pane title="JS">
            <div class="well">
                <pre class="prettyprint">
// In this example we set center to the string 'location'
// Doing this centers the map on the users location
.controller('SamplesCtrl', function() {
    this.lMap = {
        index: 2,
        center: 'location',
        zoom: 15
    }
})
                </pre>
            </div>
        </pane>

        <pane title="CSS">
            <div class="well">
                <pre class="prettyprint">
#map-canvas {
  height: 500px;
  width: 100%;
}
                </pre>
            </div>
        </pane>
    </tabs>
</div>